*{
    margin:0;
    padding:0;
}
header{
    background-color: rgb(211, 65, 65);
    width: 100%;
    height: 200px;
    border-radius:0% ;
    box-shadow: 4px 4px 4px 4px blueviolet;
    opacity: 90%;
    display: flex;
    justify-content: space-around;
}       

.logo{
    background-color: blue;
    width: 50px;
    height: 50px;
    margin-top: 51px;
}

.titulo{
    background-color: transparent;
    margin-top: 56px;
}

.textotitulo{
    color: beige;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px blueviolet;
} 

.ingreso{
    margin-top: 70px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid blueviolet;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 0.4s;
}

.ingreso:hover{
    transition-delay: 0s, 0.2s;
    color: azure;
    box-shadow:
    0 0 10px violet,
    0 0 20px violet,
    0 0 40px violet,
    0 0 80px violet,
    0 0 160px violet;
}
.boton{
    color:transparent;
    
    margin-top: 91px;
}
nav{
    background-color:rgb(182, 26, 182);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;

}
    
nav li{
    display: inline;
    margin-right: 20px;
}
    
    
nav a{
    color:white;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover{
    color: greenyellow;
    font-size: 26px;
    text-decoration: underline;
}
    

.principal{
    background-color: gray;
    width: 100%;
    height: 590px;
}

footer{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}