.principaltransportador{
    background-color: rgb(207, 195, 195);
    width: 100%;
    height: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
@keyframes fondo{
    0%{
        background: linear-gradient(90deg, rgb(96, 52, 184) ,rgb(56, 56, 199) );
    }
    100%{
        background: linear-gradient(90deg, rgb(56, 56, 199), rgb(96, 52, 184) );
    }
}
.text{
    width: 600px;
    height: 630px;
    background-color:black ;
    animation-name: fondo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tipo{
    display: flex;
    flex-wrap: wrap;
}

.cuadros{
width: 260px;
height: 120px;
background-color:transparent;
margin:10px;
padding:5px;
border: 3px solid black;
   
}

.fecha{
background-color: white;
width: 200px;
height: 30px;
margin: 10px;
}

.tamaño{
background-color: white;
width: 200px;
height: 30px;
margin: 10px;
}

.salida{
    color: white;
    margin-top: 70px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid blueviolet;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 0.4s;
}

.salida:hover{
    transition-delay: 0s, 0.2s;
    color: azure;
    box-shadow:
    0 0 10px violet,
    0 0 20px violet,
    0 0 40px violet,
    0 0 80px violet,
    0 0 160px violet;
}
label{
    color: white;
}

.cabezera{
    background-color: transparent;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: end;
}
@keyframes boton{
    0%{
        background: linear-gradient(90deg, rgb(96, 52, 184) ,rgb(56, 56, 199) );
    }
    100%{
        background: linear-gradient(90deg, rgb(56, 56, 199), rgb(96, 52, 184) );
    }
}
.botontransportador{
    color: white;
    width: 150px;
    height: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: black;
    animation-name: boton;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.botontransportador:hover{
    transition-delay: 0s, 0.2s;
    box-shadow:
    0 0 10px violet,
    0 0 20px violet,
    0 0 40px violet,
    0 0 80px violet,
    0 0 160px violet;
}

.Regresar{
    position: absolute;
    left: 840px;
}

.texto:hover:hover{
    color: black;
    text-decoration: underline;
}





